<footer>
  <div class="footer-socials">
    <a href="https://github.com/mivige" target="_blank" aria-label="GitHub"><img src="/assets/img/icons/github.svg" alt="GitHub" class="social-icon"></a>
    <a href="https://www.linkedin.com/in/mivige" target="_blank" aria-label="LinkedIn"><img src="/assets/img/icons/linkedin.svg" alt="LinkedIn" class="social-icon" style="width: 36px; height: 36px; margin-top: -3.5px;"></a>
    <a href="mailto:michele.gentile2604@gmail.com" target="_blank" aria-label="Email"><img src="/assets/img/icons/email.svg" alt="Email" class="social-icon"></a>
    <a href="https://orcid.org/0009-0008-8686-3750" target="_blank" aria-label="ORCID"><img src="/assets/img/icons/orcid.svg" alt="ORCID" class="social-icon"></a>
  </div>
  &copy; 2025 MiViGe. All rights reserved. <br>
  <a href="/contact.html" style="color: inherit; text-decoration: underline; font-weight: 500;">Contacts</a>
</footer>